@(todos: Seq[Todo])

<h1>Todo list</h1>

<form action="/todo/add" method="post">
    <input type="text" name="text">
    <input type="submit" value="Submit">
</form>

<table>
    <tr>
        <td>text</td><td></td>
    </tr>
@for(todo <- todos) {
    <tr>
        <td>
            @todo.text - @if(todo.isDone == 0) { Undone } else { Done }
        </td>
        <td>
            <form action="/todo/done" method="post">
                <input type="hidden" name="id" value="@todo.id">
                <input type="submit" value="Done">
            </form>
        </td>
    </tr>
}
</table>
